<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, :class => "bg-gray-50 border border-gray-300
    text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5
    dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500
    dark:focus:border-primary-500" ,placeholder: 'Type product name'%>
  </div>

  <div>
    <%= form.label :label, style: "display: block" %>
    <%= form.text_field :label, :class => "bg-gray-50 border border-gray-300
    text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5
    dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500
    dark:focus:border-primary-500"  ,placeholder: '$2999'%>
  </div>

  <div>
    <%= form.label :condtion, style: "display: block" %>
    <%= form.text_field :condtion, :class => "bg-gray-50 border border-gray-300
    text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5
    dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500
    dark:focus:border-primary-500" ,placeholder: 'Enter event description here'%>
  </div>

  <div>
    <%= form.label :categories, style: "display: block" %>
    <%= form.select :categories, Category.pluck(:name, :id), {}, { :class => "bg-gray-50 border border-gray-300
    text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5
    dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500
    dark:focus:border-primary-500", placeholder: 'Enter event description here', multiple: true  } %>
  </div>

  <div>
    <%= form.submit :'Add product', style:"background-color: blue", :class =>"text-white w-full justify-center bg-primary-700 hover:bg-primary-800
    focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg mt-2
     text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" %>
  </div>
<% end %>
