<!DOCTYPE html>
<html>
  <head>
    <title>SecondProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="/assets/input.css" rel="stylesheet">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link href="https://cdn.jsdelivr.net/npm/tom-select/dist/css/tom-select.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/tom-select/dist/js/tom-select.complete.min.js"></script>
    npm

  </head>

  <body class="bg-gray-50 dark:bg-gray-800">
  <%= render "layouts/partials/navbar_admin" %>


    <%= yield %>

  <%= render "layouts/partials/footer_admin" %>

  </body>
</html>
